
a {
  color: #0DCAF0;
}

.btn-navy {
  color: #fff;
  background-color: #3f3d56;
  border-color: #0DCAF0;
}

.main-color {
  color: #0DCAF0;
}

.main-cover {
  width: auto;
  height: 200px;
}

.page-link {
  color: #0DCAF0 ;
}

.page-item.active .page-link {
  color: white;
  background-color: #3f3d56;
  border-color: #3f3d56;
}