<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - ClientMVC</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link href="~/lib/jquery-ui-1.12.1/jquery-ui.theme.min.css" rel="stylesheet" />
  <link href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
  <div class="">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script>
    $(function () {
      $("#slider-range").slider({
        range: true,
        min: 0,
        max: 500,
        values: [80, 300],
        slide: function (event, ui) {
          $("#amount").val( ui.values[0] + " - " + ui.values[1]);
        }
      });
      $("#amount").val( $("#slider-range").slider("values", 0) +
        + $("#slider-range").slider("values", 1));
    });
  </script>

  @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
